.full-note {
    border: solid;
}

.root {
    min-width: 200px;
    max-width: 260px;
    min-height: 200px;
    max-height: 260px;
    margin: 30px;
    color: red;
    display: inline-block;
    overflow: scroll;
}


.pos {
    margin-bottom: 12px,
}

.title {
    font-size: 14px;
    color: white;
}

.bullet {
    display: inline-block;
    margin: 0 2px;
    transform: scale(0.8);
}

.noteBody {
    color: red;
}